@import "style/font.css";
@import "style/common.css";
@import "style/grid.css";
@import "style/adaptive.css";

/* core*/
.app {
    background-color: var(--light);
    padding: 20px;
    border-radius: var(--radius);
    margin: 20px auto;
}

