@import "variable.css";

*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', system-ui, sans-serif;
    font-size: 16px;
    color: var(--text);
    font-weight: 400;
}

body {
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6, .label500, .label300 {
    color: var(--label);
}

h6 {
    font-size: 1.2em;
    margin: 0.6em auto;
}

h5 {
    font-size: 1.4em;
    margin: 0.7em auto;
}

h4 {
    font-size: 1.6em;
    margin: 0.8em auto;
}

h3 {
    font-size: 1.8em;
    margin: 0.9em auto;
}

h2 {
    font-size: 2.0em;
    margin: 1.0em auto;
}

h1 {
    font-size: 2.2em;
    margin: 1.1em auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.label500 {
    font-weight: 500;
}

.label300 {
    font-weight: 300;
}

a, input, button, textarea {
    transition: all 0.3s;
    border-radius: 10px;
    outline: none;
}

input, textarea {
    padding: 20px;
}

textarea {
    resize: none;
}

::placeholder {
    color: var(--placeholder);
}

ul, ol {
    marks: none;
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--light);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    outline: none;
    border-radius: 5px;
}

.header, .main, .footer{
    margin: 3em 0;
}

.btn {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: inherit;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45px;
    max-height: 40px;
    margin: 10px 5px;
    background-color: var(--light);
    position: relative;
}

.btn:hover {
    box-shadow: var(--shadow-hover);
}

.btn:active {
    box-shadow: var(--shadow-active);
}

.btn[disabled] {
    background-color: var(--disable);
}

.btn[disabled]:hover,
.btn[disabled]:active {
    box-shadow: none !important;
    transform: none !important;
    cursor: not-allowed;
}

.btn:after {
    content: attr(data-description);
    position: absolute;
    left: calc(50% - 12px);
    top: -30px;
    padding: 3px 5px;
    width: max-content;
    font-size: 12px;
    color: var(--light);
    border-radius: 5px;
    background-color: #333;
    transition: .3s all;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    pointer-events: none;
}

.btn:before {
    content: '';
    position: absolute;
    left: calc(50% - 6px);
    top: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
    transition: .3s all;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    pointer-events: none;
}

.btn:hover:after,
.btn:hover:before {
    transition-delay: 1s;
    opacity: 1;
    visibility: visible;
}

.label {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}

.show {
    opacity: 1 !important;
    visibility: visible !important;
}

.hide {
    opacity: 0 !important;
    visibility: hidden !important;
}

.text-center {
    text-align: center;
}