@font-face {
    font-family: "Poppins";
    src: url("../../font/Poppins/Poppins-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("../../font/Poppins/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("../../font/Poppins/Poppins-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("../../font/Poppins/Poppins-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}