:root {
    /*COMMON*/
    --back: #719091;
    --radius: 12,5px;

    /*===============================*/

    /*ASIDE*/
    /*background-colors*/
    --item-active: #5e8281;

    /*text-colors*/
    --text-active: #fff;
    --text-inactive: #edf5f0;

    /*===============================*/

    /*CALCULATOR*/
    /*background-colors*/
    --input: #c5e6ed;
    --calc: #f0f5f5;
    --button: #5db7cd;

    /*text-colors*/
    --placeholder: #b6dfea;
    --text: #282828;
    --button-clear-text: #5db7cd;
    --button-calc-text: #fff;
    --accent: #1bbf83;

    /*shadows*/
    --input-active: 0 0 1px #282828;
    --input-inactive: 0 0 1px #b6dfea;
    --button-clear: 0 0 1px #5db7cd;

    /*===============================*/

    /*SUMMARY*/
    /*background-colors*/
    --summary: #fff;

    /*text-colors*/
    --summary-text: #5db7cd;
}
