:root {
    /*colors*/
    --label: #3c3e5d;
    --text: #5d5e63;
    --placeholder: #b6b4b4;
    --light: #ffffff;
    --disable: #c4c4c4;
    --bg: #e9f1ec;
    --accent: #5bcf88;

    /*shadows*/
    --shadow-hover: 0 2px 5px rgba(0,0,0,.2);
    --shadow-active: 0 1px 3px rgba(0,0,0,.2);

    --radius: 10px;
}
